{% extends 'layout.html' %}
{% load static %}

{% block title %}{{movie.title}}{% endblock title %}
{% block header %}{{movie.title}}{% endblock header %}
{% block content %}
    <div class="row">
        <div class="col-sm">
            <div class="card col-sm">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        {# movie's image #}
                    <img class="image" src="{% if movie.image %}{{movie.image.url}}{% else %}{% static 'images/no-product-image.png' %}{% endif %}" style="width:100%">
                    </div>
                    <div class="card-container col-lg-8 col-md-8 col-sm-12">
                        <h4><b>{{movie.title}}</b></h4>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <p>Year: {{movie.year}}</p>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Score: <span class="badge badge-info">{{movie.score|default_if_none:"TBD"}}</span></p>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <p>Rating: <span class="badge badge-primary">{{movie.get_rating_display}}</span></p>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <p>Runtime: {{movie.runtime}}</p>
                            </div>
                        </div>
                        {% comment %} <p>Category: </p> {% endcomment %}
                        <p><b>Summery: </b>{{movie.description|linebreaks}}</p>
                        <br>
                        {# Vote form #}
                        <div class="form">
                            {% include 'core/includes/vote_form.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}